.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.add-player{
    padding: 5px 20px;
    color: #fff;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1vw;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    padding-top: 3rem;
    margin-bottom: 20px;
    
}


th{ 
    padding: 10px;
        text-align: left;
        border: none;
        background-color: #ECECEC;
}
td {
    /* border-bottom: 1px solid #ddd; */
    padding: 10px;
    text-align: left;
    border: none;
    font-size: .9em;
    
}

th {
    /* background-color: #ECECEC; */
    text-align: center;
}

td:nth-child(1),th:nth-child(1){
    text-align: left;
}


/* Style the "Average," "SR," and "ECO" columns as numbers */

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
    text-align: center;
}

.players-table tr{
    border-bottom: 1px solid rgb(236, 235, 235);
}

.players-table th {
    font-size: 1vw;
    font-weight: 600;
}
.players-table td {
    font-size: 1vw;
    color:#3F4249;
    text-align: center;
}