.wrapper{
    margin-top: 8vw;
    display:flex;
    padding: 2vw;
    justify-content: space-between;

}

.profile{
    border: 1px solid #0B1D46;
    border-radius: 10px;
    padding: 2vw;
    width: 21vw;
    box-shadow: 2px 3px 29px 4px #d6d5d5;
    
}

.profile img{
    margin: auto;
    height: 14vw;
    display: block;
}

.playerName{
    text-align: center;
    font-size: 1.5vw;
}

.auction-control{
    border: 1px solid #0B1D46;
    border-radius: 10px;
    padding: 1vw;
    width: 51vw;
    box-shadow: 2px 3px 29px 4px #d6d5d5;
}

.player-summary{
    display: flex;
    justify-content: space-between;
    
}
.player-summary div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .3vw;
    text-align: center;
    
}

.summary-title{
    color: rgb(108, 108, 108);
    font-size: .8vw;
}

.sold-wrapper{
    display: flex;
    justify-content: center;
}

.soldbtn, .update-bid-btn{
    background-color: #0B1D46;
    color:white;
    padding: 1vw 6vw;
    border: none;
    text-align: center;
    margin-top: 2vw;
    font-weight: bold;
    border-radius: 5px;
}

.bid-control{
   margin-top: 2vw;
    display: flex;
    justify-content: space-evenly;
    
}

.bid-control button{
    padding: .5vw 2vw;
    border: none;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
}

.bid-input{
    padding: .5vw 1vw;
    border: none;
    background-color: #e8e8e8;
    margin-left: 2vw;
    width: 8vw;
    font-size: 1.3vw;
    font-weight: bold;
}

.update-bid-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    
}

.update-bid-btn{
    padding: 1vw 3vw;
    cursor: pointer;
}

.nextplayer{
    display: flex;
    margin-top: 2vw;
    padding: 2vw;
    justify-content: space-between;
}


.nextplayer-right{
    display: flex;    
}

.nextplayer-input{
    padding: .5vw 1vw;
    border: none;
    background-color: #e8e8e8;
    margin-left: .5vw;
    width: 9vw;
    font-size: 1.2vw;
    
}

.nextplayer-left table{
    margin: 0px;
} 


.nextplayer-left label{
    font-weight: 600;
    font-size: 1vw;

} 

.stats-box{
    padding: .5vw .7vw;
    background-color: #F8F8F8;
    text-align: center;
}

.soldplayer-stats{
 margin-right: .5vw;
}

.player-type-icon{
    height: 25px;
    width: 25px;
    opacity: .4;
    margin-bottom: 1vw;
}


.player-digit{
    text-align: center;
    padding: 1vw;
    font-size: 1.3vw;
    font-weight: 600;
}

.icon-wrapper{
    display: flex;
    
}
.icon-wrapper div{
    padding: 0vw 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}