.login-form-wrapper{
    background: rgb(18, 12, 109);
    background: linear-gradient(24deg, rgba(18, 12, 109, 1) 0%, rgba(18, 18, 153, 1) 16%, rgba(173, 17, 195, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper .child-position{
    background-color: white;
    width: 400px;
    height: 80vh;
    border-radius: 10px;
    text-align: center;
    padding: 2vw 4vw;
    
}

.login-form-wrapper img{
    margin-left: 100px;
}

.child-position form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 2vw 0px;
}

.child-position input, select,option{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: .7vw;
    border: none;
    border-radius: 7px;
    background-color: rgb(226, 234, 241);
    font-size: 18px;
    font-weight: 700;
}

.child-position form input:nth-of-type(1){
    margin-top: 4vh;
}
.child-position #team{
    margin-top: 4vh;
    width: 77%;
}
.child-position form input:nth-of-type(3){
    background-color: black;
    color: white;
    margin-top: 6vh;
}


