.search-bar{
    background-color: white;
    padding: 1.5vw 2vw;
    box-shadow: 10px 0px 30px 1px #cfcdcd;
    z-index: 1;
    position: fixed;
    width: 81vw;
    display: flex;
    justify-content: space-between;
    
    
}
.search-button{
    border: none;
    font-size: 1rem;
    
}

.search-input{
    background-color: #DADADA;
    
    width: 480px;
    height: 30px;
    border: none;
}

.serch-input{
    background-color: #DADADA;
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: .4em 1em;
}

input:focus{
    border: none;
}

.search-icon{
    padding-top: .4em;
    padding-bottom: .4em;
    color: #818181;
}

.current-user-login{
    margin-right: 3em;
    height: 30px;
    display: flex;
}


.person-icon{
    
    font-size: 2.5em;
    padding-right: 1em;
}

.current-user-login p:nth-child(1){
 
    font-weight: bold;
    margin: 0;

}
.current-user-login p:nth-child(2){
    padding-top: 5px;
    margin: 0;
}