.search-bar{
    background-color: white;
    padding: 2em;
    box-shadow: 10px 0px 30px 1px #cfcdcd;
    z-index: 1;
    position: fixed;
    width: 100%;
    
}
.search-button{
    border: none;
    font-size: 1rem;
    
}

input{
    background-color: #DADADA;
    
    width: 480px;
    height: 30px;
    border: none;
}

.serch-input{
    background-color: #DADADA;
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: .4em 1em;
}

input:focus{
    border: none;
}

.search-icon{
    padding-top: .4em;
    padding-bottom: .4em;
    color: #818181;
}