.search-bar{
    background-color: white;
    padding: 2em;
    
}
.search-button{
    border: none;
    font-size: 1rem;
    
}

input{
    background-color: #DADADA;
    padding: .8em 1em; 
    width: 300px;
    border-radius: 10px;
    border: none;
}