
.navbar img{
   padding-top: 1rem;
   padding-left: 0.5rem;
}
.navbar ul {
   margin-top: 1em;
   display: flex;
   flex-direction: column;

}
.navbar ul li {
   list-style-type: none;
   margin-top: 50px;
}

.navbar ul li a{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 0rem;

}
 
.logo{
   height: 62px;
   margin-top: 30px;
   margin-left: 22px;
}

.nav-icons{
   margin-right: 10px;
}